body {
    background-color: indianred;
    margin: 0;
}
div {
    background-color: lightblue;
    /* arriba,derecha,abajo,izquierda */
    margin: 4% 25% 3% 10%;
    padding: 0% 5%;
    /* border radius si los ponemos en pixeles */
    border-radius: 10px;
    
}

div p {
    color: lightcoral;
}

p {
    color: lightseagreen;
}

/* el orden en el css no afecta a los estilos, excepto que tengan el mismo valor de expecifidad */
.lorem {
    color: limegreen;
}